body {
    font-family: Arial, sans-serif;
    background-color: grey;
    margin: 0;
    padding: 0;
}

header {
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 20px;
}

.navbar {
    background-color: #333; /* Tło paska nawigacyjnego */
    padding: 15px 20px; /* Padding dookoła */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); /* Cień pod paskiem nawigacyjnym */
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0; /* Usunięcie domyślnego marginesu */
    display: flex; /* Ustawienie elementów w linii */
    justify-content: center; /* Wyśrodkowanie elementów */
}

nav ul li {
    margin-right: 30px; /* Przerwa między elementami */
}

nav ul li:last-child {
    margin-right: 0; /* Usunięcie marginesu z ostatniego elementu */
}

nav ul li a {
    text-decoration: none;
    color: white; /* Kolor tekstu */
    font-weight: bold;
    padding: 10px 15px; /* Padding dookoła linku */
    border-radius: 5px; /* Zaokrąglone rogi */
    transition: background-color 0.3s, color 0.3s; /* Animacja przy zmianie koloru */
}

nav ul li a:hover {
    background-color: #ffeb3b; /* Tło przy najechaniu */
    color: #333; /* Zmiana koloru tekstu przy najechaniu */
}

.content {
    padding: 20px;
}
h1 {
    color: white;
}
h2 {
    color: #000000;
}
.image-left, .image-right {
    display: inline-block;
    width: 45%; 
    margin: 0 2%; 
    vertical-align: top; 
}


footer {
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 10px;

    width: 100%;
    bottom: 0;
}

table {
    width: 100%;
    border-collapse: collapse; /* Połączenie granic komórek */
    margin-bottom: 20px; /* Odstęp od dolnej części */
    background-color: #1c1c1c; /* Kolor tła tabeli */
    color: white; /* Kolor tekstu */
    border-radius: 8px; /* Zaokrąglenie rogów tabeli */
    overflow: hidden; /* Ukrycie krawędzi */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5); /* Cień dla tabeli */
}

td {
    padding: 15px; /* Zwiększony padding dla komórek */
    text-align: left; /* Wyjustowanie tekstu do lewej */
    border-bottom: 1px solid #444; /* Cień dolnej granicy */
    transition: background-color 0.3s; /* Animacja przy zmianie koloru */
}

td img {
    width: 100px; /* Ustawienie stałej szerokości dla obrazków */
    height: auto; /* Automatyczna wysokość */
    border-radius: 5px; /* Zaokrąglenie rogów obrazków */
}

td:hover {
    background-color: rgba(255, 235, 59, 0.1); /* Tło na hover */
}

table tr:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.1); /* Co drugi wiersz z innym tłem */
}

table tr:hover {
    background-color: rgba(255, 255, 255, 0.2); /* Zmiana tła wiersza na hover */
}

b {
    color: #ffeb3b; /* Kolor dla pogrubionych tytułów filmów */
}

i {
    color: #ffeb3b; /* Kolor dla kursywy */
}

form {
    max-width: 400px;
    margin: auto;
}

label {
    font-weight: bold;
}
